<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <!-- custom style -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- script vuejs -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    </head>
    <body>
        <div id="app">
            <div class="container-body">
                <!-- div contenente il container principale del progetto -->
                <div class="container">
                    <!-- div contenente il blocco di sinistra -->
                    <div class="sinistra">
                        <!-- header del blocco di sinistra -->
                        <header>
                            <!-- div per il container dell'header -->
                            <div class="container-header">
                                <!-- div contenente la parte sinistra del contenuto -->
                                <div class="div-sinistra-header">
                                    <img class="foto" src="img/avatar_io.jpg" alt="">
                                </div>
                                <!-- div contenente la parte destra del contenuto -->
                                <div class="div-destra-header">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-circle-notch"></i>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-message"></i>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <!-- div per il blocco delle notifiche celeste -->
                        <div class="notifiche">
                                <div class="img-not">
                                    <div class="simbolo-not">
                                        <i class="fa-solid fa-bell-slash"></i>
                                    </div>
                                </div>
                                <div class="text-not">
                                    <div class="tit-not">
                                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                                    </div>
                                    <div class="testo-not">
                                        <a href="">Attiva notifiche desktop</a>
                                    </div>
                                </div>
                        </div>
                        <!-- nav per la parte della ricerca delle chat  -->
                        <div class="ricerca">
                            <div class="controllo-ricerca">
                                <label for="ricerca">
                                    <i class="fa fa-search" aria-hidden="ture"></i>
                                </label>
                                <input id="ricerca" type="search" v-model="searchText" @keyup="searchName">
                            </div>
                        </div>
                        <!-- main contenente la lista delle chat -->
                        <main class="chat-list">
                            <!-- div contenente la chat -->
                            <div class="chat" v-for="(utente,index) in contacts" :class="utente.visible === false ? 'notVisible' : ''"  @click="changeChat(index)">
                                <!-- div contenente l'immagine di profilo della chat -->
                                <div class="img-chat">
                                    <img class="foto" :src=`img/avatar${utente.avatar}.jpg`  alt="">
                                </div>
                                <!-- div contenente l'ultimo messaggio arrivato della chat -->
                                <div class="text-chat">
                                    <div class="nome-orario">
                                        <h3>{{utente.name}}</h3>
                                        <span>16:15</span>
                                    </div>
                                    <div class="testo">
                                        <p>Lorem ipsum dolor sit amet</p>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                    <!-- div contenente la parte di destra del container principale -->
                    <div class="destra">
                        <!-- header -->
                        <header>
                            <!-- div per il container dell'header -->
                            <div class="container-header">
                                <div class="dati-acc">
                                    <div class="foto-acc">
                                        <img class="foto" src="img/avatar_io.jpg" alt="">
                                    </div>
                                    <div class="text-acc">
                                        <div class="nome">
                                            <h3>Carlo</h3>
                                        </div>
                                        <div class="accesso">
                                            <p>Ultimo accesso oggi alle 16:26</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- div contenente la parte destra del contenuto -->
                                <div class="div-destra-header">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-message"></i>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <!-- div contenente la chat-box -->
                        <div class="chat-box">
                            <!-- div per il mio messaggio -->
                            <div class="message" v-for="(curMes,index) in contacts[activeIndex].messages" 
                            :class="curMes.status === 'sent' ? 'my_message' : 'friend_message'">
                                <p>
                                    {{curMes.message}}
                                </p>
                            </div>
                        </div>
                        <!-- div per la parte inferiore della chat-box -->
                        <div class="scrivi">
                            <!-- div per il container delle emoji -->
                            <div class="emoji">
                                <i class="fa-regular fa-face-smile"></i>
                            </div>
                            <!-- div per la parte dove puoi scrivere il messaggio -->
                            <div class="scrivi-mex">
                                <input type="text" name="" id="" placeholder="Scrivi un messaggio">
                            </div>
                            <!-- div per il simbolo del vocale -->
                            <div class="vocale">
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/script.js"></script>
    </body>
</html>